"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  "exception-reporting":
    userId: "349a0ed7-f680-4b80-a7bf-0ce7171413ad"
  welcome:
    showOnStartup: false
