"*":
  _dart:
    _firstRun: true
    _version: "1.0.1"
  "autocomplete-plus":
    autoActivationDelay: 500
  core:
    disabledPackages: [
      "linter"
    ]
    followSymlinks: false
    telemetryConsent: "no"
  dart:
    sdkLocation: "/Users/djzhang/Documents/dartSDK"
  "exception-reporting":
    userId: "349a0ed7-f680-4b80-a7bf-0ce7171413ad"
  "markdown-preview":
    useGitHubStyle: true
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNoConfigFile: true
      showInStatusBar: true
  welcome:
    showOnStartup: false
    showSunsettingOnStartup: false
