# custom files
!custom/plugins/example
!custom/example.zsh

# temp files directories
cache/
log/

emacs.d/.cache
emacs.d/.cask
emacs.d/elpa
emacs.d/auto-save-list

.DS_Store

# lib/
lib/spacemacs/

emacs.d/vendors/matlab-emacs/

CocoaPods/**


# JetBrains
**/.idea/**/*.xml
.idea/**/*

USERS/movie/.idea/movie.iml
USERS/movie/.idea
USERS/movie/.idea/**/*

.netrwhist

# thumbnail
USERS/movie/Вкус Счастья/thumbnail.png
USERS/movie/Вкус Счастья/vlcsnap-2019-08-14-17h40m42s655.png
USERS/movie/Вкус Счастья/vlcsnap-2019-08-14-17h40m42s655.png.zip

# cocoapods
USERS/cocoapods/generate.json

# vim
nicknisi/vim/.netrwhist
config/lvim-master
config/lvim-branch

node_modules/
package-lock.json

# nvchad
.luarc.json

# v2ray
config/v2ray-core*
