<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>t1_cmd1</key>
    <string>androidopen</string>
    <key>t1_cmd2</key>
    <string></string>
    <key>t1_cmd3</key>
    <string></string>
    <key>t1_cmd4</key>
    <string></string>
    <key>t2_cmd1</key>
    <string></string>
    <key>t2_cmd2</key>
    <string></string>
    <key>t2_cmd3</key>
    <string></string>
    <key>t2_cmd4</key>
    <string></string>
    <key>t3_cmd1</key>
    <string>j appExpo</string>
    <key>t3_cmd2</key>
    <string>vsc</string>
    <key>t3_cmd3</key>
    <string>yrandroid</string>
    <key>t3_cmd4</key>
    <string></string>
</dict>
</plist>