<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Label</key>
<string>Upsource</string>
<key>WorkingDirectory</key>
<string>/Applications/upsource</string>
<key>ProgramArguments</key>
<array>
<string>/bin/sh</string>
<string>/Applications/upsource/bin/upsource.sh</string>
<string>run</string>
<string>from-service</string>
</array>
<key>StandardOutPath</key>
<string>/Applications/upsource/logs/launcher-daemon-stdout.log</string>
<key>StandardErrorPath</key>
<string>/Applications/upsource/logs/launcher-daemon-stderr.log</string>
<key>UserName</key>
<string>djzhang</string>
<key>RunAtLoad</key>
<true/>
<key>KeepAlive</key>
<false/>
<key>ExitTimeOut</key>
<integer>1810</integer>
</dict>
</plist>
